


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>validacion usurios</title>
    <link rel="stylesheet" href="../../assests/stylesheets/aplication.css">
</head>
<body>
    
    <% if user_signed_in? %>
        
        <% if current_user.supervisor? %>
            <h1>Usuarios a validar</h1>
            <table>
            <th> 
                <tr> Nombre </tr> 
                <tr> Apellido </tr> 
                <tr> Fecha vencimiento  </tr> 
            </th>
            <% @sinValidar.each do |u| %>
                <tr>
                    <td>
                        <%=  u.nombre %> <%= u.apellido %> <%= u.fecha_ven %>
                        <%= link_to 'ver detalle', usuarios_show_path(:id => u.id)%>
                    </td>
                </tr>
                
            <% end %>
            </table>
            <p> <%= link_to 'Volver inicio', root_path%></p>
        <% end %>
    <% else %>
        <h1>AlquilApp </h1>
    <% end %>
</body>
</html>

