<h1>Supervisors#index</h1>
<p>Find me in app/views/supervisors/index.html.erb</p>
<p>es el home de supervisor</p>
<% @sinValidar.each do |u| %>
    <tr>
        <td><li><%= u.nombre %> <%= u.apellido %> <%= u.fecha_ven %> </li></td>
        <td><li> <%= u.id %> </li></td>
        <p> <%= link_to 'validar', supervisors_validar_path(:id => u.id), method: "validar" %></p>
    </tr>
<% end %>