<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
</head>
<body>

    <% if user_signed_in? %>
        <h1>Bienvenido <%= current_user.nombre%> </h1>
    
        <% if current_user.admin? %>
            <%= link_to "Autos", autos_path%>
        <%end%>

        <% if current_user.supervisor? %>
            <%= link_to "Validar usuario", supervisors_path%>
        <%end%>

        <% if current_user.usuario? %>

            <% @fotouser = Fotouser.find_by(id_user: current_user.id) %>
            <%if @fotouser == nil%>                
                <%@fotouser = Fotouser.new%>
                <%@fotouser.id_user = current_user.id%>
                <% if ! (@fotouser.fotoDNI.attached? or @fotouser.fotoCarnet.attached?) %>
                    <%= render 'fotousers/form', fotouser: @fotouser %>
                <%end%>
            <%else%>
                <% if current_user.validacion? %>
                    <p> Saldo: <%= current_user.saldo %> </p>
                    <%= link_to "listado de autos para alquilar", autos_path%>
                <% else %>
                    <p> Para poder alquilar un auto debe ser validado por un supervisor </p>
                    <p> Sea paciente.. </p>
                <% end %>
            <%end%>
        <% end %>

    <% else %>
        <h1>AlquilApp </h1>
    <% end %>

</body>
</html>

