<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
    <link rel="stylesheet" href="../../assests/stylesheets/aplication.css">
</head>
<body>

    <%= form_with url: locations_path, html: { id: "location-form" } do |f| %>
    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lng %>
    <% end %>

    <script>
    navigator.geolocation.getCurrentPosition((pos) => {
      document.querySelector("#lat").value = pos.coords.latitude;
      document.querySelector("#lng").value = pos.coords.longitude;
      document.querySelector("#location-form").requestSubmit();
    });
    </script>

    <% if session[:lat] && session[:lng] %>
        <p>Tu ubicación:</p>
        <p><%= session[:lat] %>, <%= session[:lng] %></p>
    <% end %>

    <% if user_signed_in? %>
        <h1>Bienvenido <%= current_user.nombre %> <%= current_user.nombre %> </h1>
    <% else %>
        <h1>AlquilApp </h1>
    <% end %>

</body>
</html>

