
<html>
<body>
    
        <% if current_user.admin? %>
            <%= link_to "Agregar auto", new_auto_path%>
            <table>
                <tr>
                <th> Modelo </th>
                <th> Descripción </th>
                </tr>
                <%autos.each do |a| %>
                    <tr>
                        <td> <% link_to a.marca, a %> </td>
                        <td> <%= a.descripcion %>
                        <td> <%= a.en_servicio%> </td>
                    </tr>
                <%end%>
            </table>
        <%end %>



        <% if current_user.usuario? %>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>       
        
                <% @autos.each do |a| %>
                    <% if !a.alquilado? %>
                        <tr>
                            <td><%= link_to a.marca, a %></td>
                            <td><%= a.descripcion %></td>
                        </tr>
                    <%end%>
                <%end%>
            </table>
        <% end %>
    
</body>
</html>