<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Durante alquiler</title>
</head>
<style>
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 225px;
  }
</style>
<body>

    <div class="content">
    <% if user_signed_in? %>
        <% if current_user.usuario? %>
            <% flash.each do |type, msg| %>
                <div>
                <%= msg %>
                </div>
            <% end %>
            <% if @auto.desbloqueado == false %>
                <%= link_to "Desbloquear auto" , autos_desbloquear_path(:id => @auto.id) %>
            <%else %>


                <h5>  Auto desbloqueado </h5>


                <% if @horasRestantes > 0 %> 
                    Le quedan <%= @horasRestantes %> horas de alquiler
                <% else %> 
                    <% @cant = @horasRestantes * -1 %>  
                    Usted excedio su alquiler por <%= @cant %> horas.
                <% end %>
                
                <%= link_to "horas extra", historial_usos_agregarHoras_path() %>
                <%= link_to "VER DOCUMENTACION" , autos_mostrardocumentacion_path(:id => @auto.id)  %>
                <%= link_to "DEJAR" , autos_dejar_path(:id_auto => @auto.id)%>
            
            <% end %>
        <%end%>

        
    <% else %>
        <h1>AlquilApp </h1>
    <% end %>
    </div>