<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css" rel="stylesheet" />
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js"></script>
<script>
  mapboxgl.accessToken = "pk.eyJ1IjoibWF0aWFzY2Fsdm8iLCJhIjoiY2xhN2dicDdyMDJmbTN1bGltNzgxemVnNiJ9.q53AjhcWdf-mN5luAw0TDg";
</script>
<script src="https://unpkg.com/mapkick@0.1.1/dist/mapkick.js"></script>



<%= link_to 'Volver' , autos_path %>
<h1> <%= @auto.marca%> </h1>
<p> <%= @auto.descripcion %>
<p><%=@auto.patente%></p>

<p><%=@auto.location_point_x%></p>
<p><%=@auto.location_point_y%></p>
<p> <%=@auto.cant_puertas %> </p>

<div>
    <% if @auto.foto.attached? %>
        <%= image_tag @auto.foto%>
    <% end %>
    <% if @auto.fotodocumentacion.attached? %>
        <%= image_tag @auto.fotodocumentacion%>
    <% end %>

</div>


<% if current_user.usuario? %>
  <% if current_user.saldo < 1000  %>
    <h1> Usted no posee saldo suficiente para alquilar este auto </h1>
    <%= link_to "agregar saldo" %>
  <% else %>
    <%= link_to "alquilar auto" , autos_alquilar_path(:id => @auto.id) , method: "Alquilar" %>
  <%end%>
<%end%>


<div id="map" style="height: 400px"></div>
	 
<script>
  new Mapkick.Map("map", [
    {
      latitude: <%= @auto.location_point_x %>,
      longitude: <%= @auto.location_point_y %>,
      tooltip: '<%= @auto.modelo %>'
    }
  ]);
</script>