<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css" rel="stylesheet" />
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js"></script>
<script>
  mapboxgl.accessToken = "<%= Rails.application.credentials.mapbox %>";
</script>
<script src="https://unpkg.com/mapkick@0.1.1/dist/mapkick.js"></script>

<h1> <%= @auto.marca%> </h1>
<p> <%= @auto.descripcion %>
<p><%=@auto.patente%></p>
<%= link_to "dejar", autos_dejar_path(:id => @auto.id), method: "dejar"%>
<p>aca pos</p>
<p><%=@auto.location_point_x%></p>
<p><%=@auto.location_point_y%></p>
<p>aca pos</p>
<p> <%=@auto.cant_puertas %> </p>

<div>
    <% if @auto.foto.attached? %>
        <%= image_tag @auto.foto%>
    <% end %>
</div>

<%= link_to "alquilar auto" , autos_alquilar_path(:id => @auto.id) , method: "Alquilar" %>

<div id="map" style="height: 400px"></div>
	 
<script>
  new Mapkick.Map("map", [
    {
      latitude: <%= @auto.location_point_x %>,
      longitude: <%= @auto.location_point_y %>,
      tooltip: '<%= @auto.modelo %>'
    }
  ]);
</script>