<% horas = 24 - historial_uso.cantHoras - historial_uso.horasExtra%>
<% historial_uso.errors.each do |error| %>
  <li><%= error.full_message %></li>
<% end %>

<%= form_with(model: historial_uso) do |form| %>
  <% if historial_uso.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(historial_uso.errors.count, "error") %> prohibited this historial_uso from being saved:</h2>

      <ul>
        <% historial_uso.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :horasExtra, style: "display: block" %>
    <%= form.number_field :horasExtra, in:1..horas%>
  </div>
  <div>
    <span>Maximo horas extra: <%=horas%></span>
  </div>

  <div>
    <%= form.submit 'Guardar cantidad horas' %>
  </div>
<% end %>
