<div id="<%= dom_id historial_uso %>">
  <p>
    <strong>Monto:</strong>
    <%= historial_uso.monto %>
  </p>

  <p>
    <strong>Fechainicio:</strong>
    <%= historial_uso.fechaInicio %>
  </p>

  <p>
    <strong>Fechafinal:</strong>
    <%= historial_uso.fechaFinal %>
  </p>

  <p>
    <strong>Canthoras:</strong>
    <%= historial_uso.cantHoras %>
  </p>

  <p>
    <strong>User:</strong>
    <%= historial_uso.user_id %>
  </p>

  <p>
    <strong>Auto:</strong>
    <%= historial_uso.auto_id %>
  </p>

</div>
